<footer>
    <div class="bloque-information">
        <div class="content-information">
            <div class="footer">
                <div>
                    <span>SENAAPP 2023 ©</span>
                </div>
                <div class="footer-buttons">
                    <div>
                        <a href=""><button>Acerca de</button></a>
                    </div>
                    <div>
                        <a href=""><button>Soporte</button></a>
                    </div>
                    <div>
                        <a href=""><button>Contacto</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
